/build/*
/config/*
.idea/*
/data/*
/dist/*
/*/build/*
/*/dist/*
/*/data/*
/terminal_manager_server/models/__pycache__
/terminal_manager_server/services/__pycache__
/terminal_manager_server/utils/__pycache__
/terminal_manager_server/__pycache__
/terminal_manager_server/config
/terminal_manager_server/logs
/expert_stream_server/__pycache__
/expert_stream_server/config
/file_reader_server/__pycache__
/file_reader_server/config
/task_manager_server/task_data/executions
/task_manager_server/task_data
/task_manager_server/__pycache__
/task_manager_server/__pycache__
/task_manager_server/__pycache__
/task_manager_server/__pycache__
/task_manager_server/__pycache__
/task_manager_server/__pycache__
